@use "global" as *;

.c-breadcrumb {
	color: $white;
}

.c-breadcrumb__lists {
	display: flex;
}

.c-breadcrumb__level {
	display: block;
}

.c-breadcrumb__level::before {
	position: relative;
	content: ">";
	padding: 0 rem(5);
}