@use "global" as *;

.c-category-list__items {
  display: flex;
  flex-wrap: wrap;
  margin: rem(-16) 0 0 rem(-24);
  
  @include mq(md) {
    margin: initial;
  }
}

.c-category-list__item {
  margin: rem(16) 0 0 rem(24); 

  @include mq(md) {
    margin: rem(16) 0 0 0;

    &:not(:first-child) {
      margin-left: rem(40);
    }
  }
}