@use "global" as *;

.c-category-item__link {
  letter-spacing: 0.125em;
  color: $white;
  text-transform: uppercase;
  transition: color 0.3s;

  @include mq(md) {
    &:hover {
      color: $yellow;
    }
  }

  &.is-active {
    background-color: $white;
    color: $gray;
    padding: rem(3) rem(10);
    
    @include mq(md) {
      pointer-events: none;
    }
  }
}