@use "global" as *;

.c-pagination {
	max-width: rem(332);
	width: 100%;
	margin: 0 auto;
}

.c-pagination__lists {
	display: flex;
}

.c-pagination__prev,
.c-pagination__next,
.c-pagination__list {
	border: 1px solid $white;
}

.c-pagination__list:first-child {
	margin-left: rem(24);
}

.c-pagination__list:not(:first-child) {
	margin-left: rem(16);
}

.c-pagination__next {
	margin-left: rem(24);
}

.c-pagination__current,
.c-pagination__link {
	padding: rem(2) rem(8);
}

.c-pagination__prev a,
.c-pagination__next a {
	padding: rem(1) rem(13);
}

.c-pagination__link,
.c-pagination__prev,
.c-pagination__next {
	color: $white;

	&:hover {
		color: $gray;
		background-color: $white;
		opacity: 1;
	}
}

.c-pagination__current {
	color: $gray;
	background-color: $white;
}