@use "global" as *;

.c-title {
  position: relative;
}

.c-title__ja {
  font-size: rem(20);
  font-weight: $normal;
  line-height: calc(29/20);
  letter-spacing: 0.1em;
  color: $white;
  text-align: center;

  @include mq(md) {
    font-size: rem(30);
    line-height: calc(35/30);
    letter-spacing: 0.0667em;
  }
}

.c-title__en {
  content: "";
  position: absolute;
  top: -47px;
  left: 50%;
  transform: translateX(-50%);
  font-family: $second-font-family;
  font-size: rem(50);
  font-weight: $normal;
  line-height: calc(72/50);
  letter-spacing: 0.04em;
  color: $yellow;
  opacity: 0.2;
  text-align: center;
  text-transform: capitalize;

  @include mq(md) {
    top: rem(-85);
    left: 26%;
    font-size: rem(110);
    line-height: calc(158/110);
    letter-spacing: 0.0182em;
  }
}

.c-title__en--left {
  text-align: left;
}

.c-title__en--right {
  @include mq(md) {
    text-align: right;
  }
}

.c-title__en--contact {
  position: absolute;
  content: "";
  top: -48px;
  left: 50%;
  transform: translateX(-50%);

  @include mq('md') {
    top: rem(-94);
    left: 50%;
    transform: translateX(-50%);
    top: rem(-84);
    left: rem(214);
  }
}