<div class="p-header">
	<div class="p-header__inner">
		<div class="p-header__logo">
			<%- include('../component/_c-logo') %>
		</div>
		<div class="p-header__icon">
			<%- include('../component/_c-hamburger') %>
		</div>
		<div class="p-header__nav">
			<%- include('./_p-sp-nav') %>
			<%- include('./_p-pc-nav') %>
		</div>
	</div>
</div>