@use "global" as *;

.p-404__inner {
	max-width: rem(600);
	width: 100%;
	padding: rem(80) rem(20) rem(150);
	margin: auto;

	@include mq('md') {
		max-width: rem(654);
		padding-top: rem(150);
		white-space: nowrap;
	}
}

.p-404__title {
	font-size: rem(40);
	font-weight: $regular;
	color: $yellow;
	opacity: 0.3;
	letter-spacing: 0.05em;
	text-align: center;

	@include mq('md') {
		font-size: rem(60);
	}
}

.p-404__text {
	font-size: rem(20);
	letter-spacing: 0.1em;
	line-height: 1.5;
	color: $white;
	text-align: center;
	margin-top: rem(80);

	@include mq('md') {
		font-size: rem(30);
	}
}

.p-404__button {
	text-align: center;
	margin-top: rem(80);
}