@use "global" as *;

.p-blog-card {
	background-color: $white;
	display: block;
	width: 100%;

	@include mq('md') {
		max-width: rem(350);
		display: flex;
		flex-direction: column;
		transition: background 0.3s;
	}
}

.p-blog-card:hover {
	background-color: $gray;
	opacity: 1;
	@include mq('md') {
		.p-blog-card__img img {
			transform: scale(1.1);
		}

		.p-blog-card__textbox,
		.p-blog-card__time {
			color: $white;
		}
	}
}

.p-blog-card__img {
  position: relative;
  width: 100%;
  transition: all 0.3s ease 0s;
	overflow: hidden;
}

.p-blog-card__img::before {
  content: "";
  display: block;
  padding-top: 66.57143%;

  @include mq('md') {
    
  }
}

.p-blog-card__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
	object-position: center;
}

.p-blog-card__textbox {
	padding: rem(8) rem(23);
  color: $gray;
}

.p-blog-card__title {
	font-size: rem(18);
	font-weight: $medium;
	letter-spacing: 0.056em;
	line-height: 1.944;
}

.p-blog-card__text {
	font-size: rem(14);
	line-height: 1.857;
	letter-spacing: 0.071em;

	@include mq('md') {
		margin-top: auto;
	}
}

.p-blog-card__meta {
	padding: 0 rem(23) rem(16);
	display: flex;
	justify-content: space-between;

	@include mq('md') {
		margin-top: auto;
	}
}

.p-blog-card__category {
	font-size: rem(14);
	font-weight: $normal;
	line-height: 1.857;
	background-color: #FFEA2E;
	padding: rem(2) rem(4);
}

.p-blog-card__time {
	font-size: rem(14);
	line-height: 1.857;
	letter-spacing: 0.071em;
}