@use "global" as *;

.p-footer {
  color: $white;
}

.p-footer__inner {
  padding: rem(50) 0;
  
  @include mq(md) {
    padding: rem(33) rem(30) rem(26);
  }
}

.p-footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include mq(md) {
    flex-direction: initial;
    justify-content: space-between;
  }
}

.p-footer__copyright {
  margin-top: rem(32);
  
  @include mq(md) {
    margin-top: rem(66);
    margin-left: 0;
  }
}

.p-footer--contact {
  margin-top: rem(120);

  @include mq('md') {
    margin-top: rem(150);
  }
}