@use "global" as *;

.p-map__iframe {
  position: relative;
  padding-top: 89.55%; // 335/375*100%
  margin-left: calc(50% - 50vw); // インナー幅を超えて表示
  margin-right: calc(50% - 50vw); // インナー幅を超えて表示
  transform: translate(calc(50vw - 50%)); // 中央揃え
  @include mq(md) {
    padding-top: 33.36%; // 367/1100*100%
    margin-left: initial;
    margin-right: initial;
    transform: initial;
  }
}

.p-map__iframe > iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}