@use "global" as *;

.p-pagination-prev-next {
  // l-付与予定
  margin: rem(80) auto 0;
  max-width: rem(332);
  width: 100%;
  @include mq('md') {
    margin: rem(104) auto 0;
  }
}

.p-pagination-prev-next__lists {
  display: flex;
}

.p-pagination-prev-next__prev,
.p-pagination-prev-next__next,
.p-pagination-prev-next__list {
  color: $white;
}

.p-pagination-prev-next__next,
.p-pagination-prev-next__list {
  margin-left: rem(48);
}

.p-pagination-prev-next__prevlink,
.p-pagination-prev-next__nextlink,
.p-pagination-prev-next__link {
  display: block;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  border: 1px solid $white;
  transition: background-color 0.3s, color 0.3s;
  @include mq(md) {
    &:hover {
      background-color: $white;
      color: $gray;
    }
  }
}

.p-pagination-prev-next__prevlink,
.p-pagination-prev-next__nextlink {
	padding: 0 rem(11);
}

.p-pagination-prev-next__link {
  padding: 0 rem(17);
}