@use "global" as *;

.p-related-work-card {
  //marginはBlock要素に付与予定
  // & + & {
  //   margin-top: rem(24);
  // }

  // @include mq(md) {
  //   width: calc(100%/4 - #{rem(32)}*3/4);

  //   & + & {
  //     margin-top: 0;
  //   }

  //   &:not(:nth-child(4n+1)) {
  //     margin-left: rem(32);
  //   }

  //   &:nth-child(n+5) {
  //     margin-top: rem(48);
  //   }
  // }
}

.p-related-work-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $white;
  transition: background-color 0.3s;
  
  &:hover {
    background-color: $gray;

    .p-related-work-card__img img {
      transform: scale(1.1);
    }

    .p-related-work-card__title {
      color: $yellow;
    }

    .p-related-work-card__date {
      color: $white;
    }
  }
}

.p-related-work-card__img {
  overflow: hidden;
  padding-top: 66.57%; // 223/335*100%
  position: relative;

  @include mq(md) {
    padding-top: 58.96%; // 148/251*100%
  }
}

.p-related-work-card__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s;
}

.p-related-work-card__text {
  padding: rem(4) rem(24) 0 rem(22);

  @include mq(md) {
    padding: rem(3) rem(7) 0 rem(9);
  }
}

.p-related-work-card__title {
  font-weight: 500;
  font-size: rem(18);
  line-height: calc(35/18);
  letter-spacing: 0.056em;

  @include mq(md) {
    font-size: rem(14);
    line-height: calc(35/14);
    letter-spacing: 0.071em;
  }
}

.p-related-work-card__excerpt {
  margin-top: rem(4);
}

.p-related-work-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(23) rem(16) rem(23);
  
  @include mq(md) {
    padding: 0 rem(7) rem(14) rem(9);
    margin-top: auto;
  }
}

.p-related-work-card__excerpt,
.p-related-work-card__category,
.p-related-work-card__date {
  font-size: rem(14);
  line-height: calc(26/14);
  letter-spacing: 0.071em;
  color: #000;
}

.p-related-work-card__category {
  background-color: $yellow;
  padding: 0 rem(5);
}

.p-related-work-card__date {
  transition: color 0.3s;
}