@use "global" as *;

.p-related-blog-cards__items {
	display: grid;
	row-gap: rem(24);

	@include mq('md') {
		grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: rem(48);
    column-gap: rem(32);
	}
}

.p-related-blog-cards__item {
	@include mq('md') {
		display: flex;
	}
}