@use "global" as *;

.p-related-blog-cards__list {
	margin-top: rem(32);

	@include mq('md') {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: rem(48);
    column-gap: rem(32);
	}
}

.p-related-blog-cards__item +.p-related-blog-cards__item {
	margin-top: rem(24);

	@include mq('md') {
		margin-top: 0;
	}
}

.p-related-blog-cards__item {
	@include mq('md') {
		display: flex;
	}
}