@use "global" as *;

.p-sub-work-cards__inner {
  @include mq('md') {
    max-width: rem(1100);
    margin: 0 auto;
  }
}
.p-sub-work-cards__wrapper {
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.p-sub-work-cards__item {
  margin: 0 calc(50% - 50vw);
	width: 100vw;

  @include mq('md') {
    margin: initial;
    width: initial;
  }
}

.p-sub-work-cards__item {
  & + & {
    margin-top: rem(48);
  }
  
  @include mq(md) {
    width: calc(50% - #{rem(48)}/2);

    & + & {
      margin-top: 0;
    }

    &:nth-child(2n) {
      margin-left: rem(48);
    }

    &:nth-child(n+3) {
      margin-top: rem(114);
    }
  }
}