@use "global" as *;

.p-sub-contact-list {
	max-width: rem(540);
	width: 100%;
	margin: auto;

	@include mq('md') {
		max-width: rem(856);
	}
}

.p-sub-contact-list__item {
	@include mq('md') {
		display: flex;
		align-items: center;
	}
}

.p-sub-contact-list__item + .p-sub-contact-list__item {
	margin-top: rem(32);
}

.p-sub-contact-list__label {
	color: $white;

	@include mq('md') {
		width: rem(132);
		text-align: right;
		margin-top: rem(16);
	}
}


.p-sub-contact-list__input {
	margin-top: rem(16);
	background-color: $white;

	@include mq('md') {
		max-width: rem(540);
		width: 100%;
		margin-left: rem(24);
	}
}

.p-sub-contact-list__item:last-child {
	@include mq('md') {
		display: flex;
		align-items: start;

	}
}

.p-sub-contact-list__input textarea {
	height: rem(250);

	@include mq('md') {
		height: rem(300);
	}
}

.p-sub-contact-list__submit {
	display: block;
	max-width: rem(360);
	width: 100%;
	color: $gray;
	background-color: $white;
	font-size: rem(20);
	letter-spacing: 0.1em;
	padding: rem(10) 0;
	margin: rem(48) auto 0;

	@include mq('md') {
		// 背景白ボタン
.c-btn--white {
  @include mq(md) {
    color: #000;
    background-color: $white;
  }

  &:hover {
    color: $white;
  }

  &::before {
    background-color: $gray;
  }
}
	}
}

input[type="text"],
textarea {
	padding: rem(10);
	font-size: rem(14);
	letter-spacing: 0.05em;

	@include mq('md') {
		padding: rem(7) rem(16);
	}
}

textarea {
	resize: none;
}