@use "global" as *;

.p-sub-news__inner {
  margin: 0 auto;
	max-width: rem(540);
	width: 100%;
	height: inherit;
	padding-right: $padding-sp;
	padding-left: $padding-sp;
	@include mq(md) {
		max-width: rem(912);
		padding-right: $padding-pc;
		padding-left: $padding-pc;
	}
}

.p-sub-news__items {
  margin-top: rem(85);
  @include mq(md) {
    margin-top: rem(69);
  }
}

.p-sub-news__pagination {
  margin-top: rem(80);
	@include mq(md) {
		margin-top: rem(104);
	}
}