@use "global" as *;

.p-single-news__breadcrumb {
	margin-top: rem(66);
}

.p-single-news__inner {
	@include mq('md') {
		max-width: rem(800);
		width: 100%;
		margin: 0 auto;
	}
}

.p-single-news__pagination {
	margin-top: rem(80);

	@include mq('md') {
		margin-top: rem(104);
	}
}