@use "global" as *;

.p-single-work {
	color: $white;
}

.p-single-work__inner {
	max-width: rem(800);
	width: 100%;
	margin: 0 auto;
}

.p-single-work__textbox {
	margin-top: rem(32);

	@include mq('md') {
		margin-top: rem(80);
	}
}

.p-single-work__pagination {
	margin-top: rem(80);

	@include mq('md') {
		margin-top: rem(104);
	}
}

.p-single-work__slider {
	margin: rem(32) calc(50% - 50vw) 0;
	width: 100vw;

  @include mq('md') {
    max-width: rem(800);
    margin-left: auto;
    margin-right: auto;
  }
}