@use "global" as *;

.p-work-article {
  color: $white;
}

.p-work-article__title {
  font-weight: $normal;
  font-size: rem(20);
  line-height: calc(35/20);
  letter-spacing: 0.02em;
  @include mq(md) {
    font-weight: $medium;
    font-size: rem(23);
    line-height: calc(35/23);
    letter-spacing: 0.017em;
  }
}

.p-work-article__info {
  margin-top: rem(19);
  @include mq(md) {
    margin-top: rem(35);
  }
}

.p-work-article__time {
  font-size: rem(16);
  line-height: 2;
  letter-spacing: 0.025em;
}

.p-work-article__category {
  font-size: rem(16);
  line-height: calc(23/16);
  letter-spacing: 0.125em;
  padding: rem(8) rem(20);
  margin-left: rem(24);
  border: rem(1) solid $white;
}