<div class="p-content">
	<a href="#" class="p-content__link">
		<figure class="p-content__img">
			<img src="<%= src %>" alt="<%= alt %>">
		</figure>
		<span><%= alt %></span>
		<p class="p-content__mask u-desktop"></p> 
	</a>
</div>