<footer class="p-footer">
  <div class="p-footer__inner l-inner">
    <div class="p-footer__wrap">
      <%- include('../component/_c-logo') %>
      <%- include('../project/_p-footer-nav') %>
    </div>
    <%- include('../project/_p-copyright') %>
  </div>
</footer>