<footer class="p-footer">
  <div class="p-footer__inner">
    <div class="p-footer__wrap">
      <div class="p-footer__logo">
        <%- include('../component/_c-logo') %>
      </div>
      <div class="p-footer__nav">
        <%- include('./_p-footer-nav') %>
      </div>
    </div>
    <div class="p-footer__copyright">
      <%- include('./_p-copyright') %>
    </div>
  </div>
</footer>