<div class="c-hamburger js-hamburger">
	<div class="c-hamburger__bars">
		<span class="c-hamburger__bar1"></span>
		<span class="c-hamburger__bar2"></span>
		<span class="c-hamburger__bar3"></span>
	</div>
</div>