<div class="p-header">
	<div class="p-header__inner l-inner">
		<div class="p-header-logo">
			<%- include('../component/_c-logo') %>
		</div>
		<%- include('../project/_p-hamburger') %>
		<%- include('../project/_p-sp-nav') %>
		<%- include('../project/_p-pc-nav') %>
	</div>
</div>