<header class="p-header c-header">
	<div class="p-header__inner l-inner">
		<%- include('../component/_c-logo') %>
		<%- include('../project/_p-hamburger') %>
		<%- include('../project/_p-sp-nav') %>
	</div>
</header>