<div class="p-mv">
	<div class="swiper slider1">
		<div class="swiper-wrapper">
			<% for (var i=1; i < 4; i++) { %>
			<div class="swiper-slide">
				<div class="slide-image<%= i %>"></div>
			</div>
			<% } %>
		</div>
	</div>
	<div class="slide-content">
		<div class="slide-content__head">
			<h1>メインタイトルが入ります</h1>
			<p class="slide-content__txt">サブタイトルが入ります</p>
		</div>
	</div>
</div>