<div class="p-news-item">
  <div class="p-news-item__head">
    <time datetime="<%= datetime %>" class="p-news-item__date"><%= time %></time>
    <span class="p-news-item__category"><%= category %></span>
  </div>
  <h2 class="p-news-item__body">
    <a href="single-news.html" class="p-news-item__link">
      <p class="p-news-item__title"><%= title %></p>
    </a>
  </h2>
</div>