<%# 以下をsingle-works.ejsに記述 %>
<%# var location = {page_id:'single-works'} %>
<%#- include('./project/_p-related-work-cards', {page: location}) %>

<%
  imagePath = "./images";
%>

<% const cardItem = [
  {category:"カテゴリ１", src:imagePath + "/work/work01.jpg", alt:"株式会社CodeUps", title:"株式会社CodeUps" },
  {category:"カテゴリ１", src:imagePath + "/work/work02.jpg", alt:"株式会社CodeUps2", title:"株式会社CodeUps2" },
  {category:"カテゴリ１", src:imagePath + "/work/work03.jpg", alt:"株式会社CodeUps3", title:"株式会社CodeUps3" },
  {category:"カテゴリ１", src:imagePath + "/work/work04.jpg", alt:"株式会社CodeUps4", title:"株式会社CodeUps4" },
] %>

<% if (page.page_id == 'single-works') { %>
  <ul class="p-related-work-cards">
    <% for (var item of cardItem) {%>
      <li class="p-related-work-cards__item">
        <%- include('./_p-work-card',{src:item.src, alt:item.alt, title:item.title, excerpt:item.excerpt, category:item.category, datetime:item.datetime, time:item.time}) %>
      </li>
    <% } %>
  </ul>
<% } %>