<div class="p-related-work-card">
  <a href="single-work.html" class="p-related-work-card__link">
    <div class="p-related-work-card__head">
      <img src="<%= src %>" alt="<%= alt %>">
      <span class="p-related-work-card__category"><%= category %></span>
    </div>
    <h2 class="p-related-work-card__title"><%= title %></h2>
  </a>
</div>