<% var location = {page_id:'single-work'} %>

<div class="p-related-work">
	<div class="p-related-work__inner l-inner">
		<div class="p-related-work__title">
			<%- include('../component/_c-related-card-title', {page: location}) %>
		</div>
		<div class="p-related-work__items">
			<%- include('../project/_p-related-work-cards') %>
		</div>
	</div>
</div>