<div class="p-sub-content-card">
	<figure class="p-sub-content-card__img">
		<img src="<%= src %>" alt="<%= alt %>">
	</figure>
	<div class="p-sub-content-card__info">
		<h2 class="p-sub-content-card__name"><%= name %></h2>
		<p class="p-sub-content-card__text"><%= text %></span></p>
	</div>
</div>