<% const pointItem = [
  {title:"制作のポイント", text:"テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。" },
  {title:"デザインのポイント", text:"テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。" },
  {title:"その他", text:"テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。" }
] %>

<div class="p-single-work-details">
  <ul class="p-single-work-details__items">
    <% for (var point of pointItem) {%>
      <li class="p-single-work-details__item">
        <%- include('../project/_p-single-work-detail',{point:point.title, text:point.text}) %>
      </li>
    <% } %>
  </ul>
</div>