<% const listItem = [
  {title:"会社名", description:"株式会社CodeUps"},
  {title:"設立", description:"テキストが入ります。"},
  {title:"資本金", description:"テキストが入ります。"},
  {title:"売上高", description:"テキストが入ります。"},
  {title:"代表名", description:"テキストが入ります。"},
  {title:"従業員数", description:"テキストが入ります。"},
  {title:"事業内容", description:"テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。"},
  {title:"所在地", description:"東京駅"}
] %>

<div class="p-sub-overview-list">
  <div class="p-sub-overview-list__items">
    <% for (var item of listItem) {%>
      <div class="p-sub-overview-list__item">
        <%- include('./_p-sub-overview-item',{title:item.title, description:item.description}) %>
      </div>
    <% } %>
  </div>
</div>