<div class="p-sub-content">
  <div class="p-sub-content__inner l-inner">
    <!-- 事業内容タイトルなど -->
    <div class="p-sub-content__head">
      <h2 class="p-sub-content__title">企業理念</h2>
      <p class="p-sub-content__description">説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。</p>
    </div>

    <!-- 事業内容リスト -->
    <div class="p-sub-content__items">
      <%- include('./_p-sub-contents') %>
    </div>
  </div>
</div>