<%# 以下をsub-works.ejsに記述 %>
<%# var location = {page_id:'works'} %>
<%#- include('./project/_p-sub-work-cards', {page: location}) %>

<%
  imagePath = "./images";
%>

<% const cardItem = [
  {category:"カテゴリ１", src:imagePath + "/work/work01.jpg", alt:"株式会社CodeUps", title:"株式会社CodeUps" },
  {category:"カテゴリ１", src:imagePath + "/work/work02.jpg", alt:"株式会社CodeUps2", title:"株式会社CodeUps2" },
  {category:"カテゴリ１", src:imagePath + "/work/work03.jpg", alt:"株式会社CodeUps3", title:"株式会社CodeUps3" },
  {category:"カテゴリ１", src:imagePath + "/work/work04.jpg", alt:"株式会社CodeUps4", title:"株式会社CodeUps4" },
  {category:"カテゴリ１", src:imagePath + "/work/work05.jpg", alt:"株式会社CodeUps5", title:"株式会社CodeUps5" },
  {category:"カテゴリ１", src:imagePath + "/work/work06.jpg", alt:"株式会社CodeUps6", title:"株式会社CodeUps6" },
] %>

<% if (page.page_id == 'work') { %>
  <div class="p-sub-work-cards">
    <div class="p-sub-work-cards__inner l-inner">
      <div class="p-sub-work-cards__wrapper">
        <% for (var item of cardItem) {%>
        <div class="p-sub-work-cards__item">
          <%- include('./_p-work-card',{category:item.category, src:item.src, alt:item.alt, title:item.title}) %>
        </div>
      <% } %>
      </div>
    </div>
  </div>
<% } %>