<div class="p-sub-news"> 
  <div class="p-sub-news__inner">
    <!-- お知らせリスト -->
    <div class="p-sub-news__items">
      <%- include('./_p-news-list') %>
    </div>
    <!-- ページネーション -->
    <div class="p-sub-news__pagination">
      <%- include('../component/_c-pagination') %>
    </div>
  </div>
</div>