<% var location = {page_id:'p-single-blog'} %>

<div class="p-single-news">
  <div class="p-single-news__inner l-inner">
    <!-- 記事コンテンツ -->
    <article class="p-single-news__article">
      <%- include('./_p-news-article') %>
    </article>

    <!-- ページネーション -->
    <div class="p-single-news__pagination">
      <%- include('../component/_c-pagination-prev-next', {link:'news.html', page: location}) %>
    </div>
  </div>
</div>