<div class="p-sub-overview">
  <div class="p-sub-overview__inner l-inner">
    
    <!-- 企業概要の説明 -->
    <div class="p-sub-overview__list">
      <%- include('./_p-sub-overview-list') %>
    </div>
    
    <!-- マップ -->
    <div class="p-sub-overview__map">
      <%- include('./_p-map') %>
    </div>

  </div>
</div>