<div class="p-sub-work">
  <div class="p-sub-work__inner l-inner">
    <!-- カテゴリーリスト -->
    <div class="p-sub-work__category">
      <%- include('../component/_c-category-list') %>
    </div>

    <div class="p-sub-work__list">
      <%- include('./_p-sub-work-cards') %>
    </div>
    <!-- ページネーション -->
    <div class="p-sub-work__pagination">
      <%- include('../component/_c-pagination') %>
    </div>
  </div>
</div>