<nav class="p-header__sp-nav p-sp-nav js-nav-menu">
	<ul class="p-sp-nav__items js-sp-nav__items">
		<li class="p-sp-nav__item"><a href="#">トップ</a></li>
		<li class="p-sp-nav__item js-sp-nav__item"><a href="#news">お知らせ</a></li>
		<li class="p-sp-nav__item js-sp-nav__item"><a href="#content">事業内容</a></li>
		<li class="p-sp-nav__item js-sp-nav__item"><a href="#works">制作実績</a></li>
		<li class="p-sp-nav__item js-sp-nav__item"><a href="#overview">企業概要</a></li>
		<li class="p-sp-nav__item js-sp-nav__item"><a href="#blog">ブログ</a></li>
		<li class="p-sp-nav__item js-sp-nav__item"><a href="#contact">お問い合わせ</a></li>
	</ul>
</nav>