<div class="p-thanks">
	<div class="p-thanks__inner">
		<h1 class="p-thanks__title">お問い合わせ完了</h1>
		<p class="p-thanks__text">3営業日以内に<br class="u-mobile">返信させて頂きます。</p>
		<div class="p-thanks__button">
				<%- include('../component/_c-btn',{link:'index.html', text:'TOPへ',  bgColor:'gray', location:''}) %>
		</div>
	</div>
</div>