<% const newsItem = [
  {category:"お知らせ", src:"single-news.html", title:"記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。", datetime:"2021-07-20", time:"2021.07.20" }
] %>

<div class="p-top-news">
	<div class="p-top-news__inner l-inner">
    <div class="p-top-news__content">
      <div class="p-top-news__wrapper">
        <div class="p-top-news__lists">
          <% for (var item of newsItem) {%>
            <div class="p-top-news__list">
              <%- include('../project/_p-top-news-item',{category:item.category, src:item.src, title:item.title, datetime:item.datetime, time:item.time}) %>
            </div>
          <% } %>
        </div>
      </div>
      <div class="p-top-news-item__button">
        <%- include('../component/_c-btn',{link:'news.html', text:'すべて見る', bgColor:'', location:'top-news'}) %>
      </div>
    </div>
	</div>
</div>