<div class="p-work-article">
	<h1 class="p-work-article__title">〇〇株式会社　制作実績</h1>
	<div class="p-work-article__info">
		<time class="p-work-article__time" datetime="2021-06-13">2020/06/13</time>
		<span class="p-work-article__category">カテゴリ1</span>
	</div>
</div>