<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
<body>
	<% var location = {page_id:'404'} %>

	<!-- ヘッダー -->
	<%- include('./project/_p-header') %>

	<div class="l-404">
		<%- include('./project/_p-404') %>
	</div>

	<!-- フッター -->
	<%- include('./project/_p-footer') %>
</body>
</html>