<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
<body>
	<% var location = {page_id:'thanks'} %>

	<!-- ヘッダー -->
	<header class="l-header">
		<%- include('./common/_p-header') %>
	</header>

	<div class="l-thanks">
		<%- include('./project/_p-thanks') %>
	</div>

	<!-- フッター -->
	<%- include('./common/_p-footer') %>
</body>
</html>