<div class="c-category-list p-category-list">
  <ul class="p-category-list__items">
    <li class="p-category-list__item">
      <a class="p-category-list__link is-active" href="">all</a>
    </li>
    <li class="p-category-list__item">
      <a class="p-category-list__link" href="">カテゴリ１</a>
    </li>
    <li class="p-category-list__item">
      <a class="p-category-list__link" href="">カテゴリカテゴリ</a>
    </li>
    <li class="p-category-list__item">
      <a class="p-category-list__link" href="">カテ</a>
    </li>
  </ul>
</div>