<% const categoryItem = [
  {category:"カテゴリ１" },
  {category:"カテゴリカテゴリ" },
  {category:"カテ" },
] %>

<ul class="c-category-list p-category-list p-category-list__items">
  <li class="c-category-item p-category-list__item">
    <a class="c-category-item__link is-active" href="#!">all</a>
  </li>
  <% for (var item of categoryItem) {%>
    <%- include('./_c-category-item',{category:item.category}) %>
  <% } %>
</ul>