<% const categoryItem = [
  {category:"カテゴリ１" },
  {category:"カテゴリカテゴリ" },
  {category:"カテ" },
] %>

<div class="c-category-list">
  <ul class="c-category-list__items">
    <li class="c-category-list__item">
      <div class="c-category-item">
        <a class="c-category-item__link is-active" href="#!">all</a>
      </div>
    </li>
    <% for (var item of categoryItem) {%>
      <li class="c-category-list__item">
        <%- include('./_c-category-item',{category:item.category}) %>
      </li>
    <% } %>
  </ul>
</div>