<div class="c-pagination">
	<ul class="c-pagination__lists">
		<li class="c-pagination__prev"><a class="c-pagination__prevlink" href="#">PREV</a></li>
		<li class="c-pagination__list"><span class="c-pagination__current" href="#">1</span></li>
		<li class="c-pagination__list"><a class="c-pagination__link" href="#">2</a></li>
		<li class="c-pagination__list"><a class="c-pagination__link" href="#">3</a></li>
		<li class="c-pagination__list"><a class="c-pagination__link" href="#">4</a></li>
		<li class="c-pagination__next"><a class="c-pagination__nextlink" href="#">NEXT</a></li>
	</ul>
</div>