<div class="c-pagination p-pagination">
	<ul class="p-pagination__lists">
		<li class="p-pagination__prev"><a class="p-pagination__prevlink" href="#">PREV</a></li>
		<li class="p-pagination__list"><a class="p-pagination__current" href="#">1</a></li>
		<li class="p-pagination__list"><a class="p-pagination__link" href="#">2</a></li>
		<li class="p-pagination__list"><a class="p-pagination__link" href="#">3</a></li>
		<li class="p-pagination__list"><a class="p-pagination__link" href="#">4</a></li>
		<li class="p-pagination__next"><a class="p-pagination__nextlink" href="#">NEXT</a></li>
	</ul>
</div>