<div class="c-pagination-prev-next p-pagination-prev-next">
  <ul class="p-pagination-prev-next__lists">
    <li class="p-pagination-prev-next__prev">
      <a class="p-pagination-prev-next__prevlink" href="#">prev</a>
    </li>
    <li class="p-pagination-prev-next__list">
      <a class="p-pagination-prev-next__link" href="#">一覧</a>
    </li>
    <li class="p-pagination-prev-next__next">
      <a class="p-pagination-prev-next__nextlink" href="#">next</a>
    </li>
  </ul>
</div>