<div class="c-pagination-prev-next">
  <ul class="c-pagination-prev-next__items">
    <li class="c-pagination-prev-next__item">
      <a class="c-pagination-prev-next__prevlink" href="#">prev</a>
    </li>
    <li class="c-pagination-prev-next__item">
      <a class="c-pagination-prev-next__link" href="<%= link %>">一覧</a>
    </li>
    <li class="c-pagination-prev-next__item">
      <a class="c-pagination-prev-next__nextlink" href="#">next</a>
    </li>
  </ul>
</div>