<!-- 以下をworks.ejsに記述 -->
<%# var location = {page_id:'single-works'} %>
<%#- include('./component/_c-related-card-title', {page: location}) %>

<% if (page.page_id == 'single-works') { %>
  <h2 class="c-related-card-title">関連制作</h2>
<% } else if (page.page_id == 'single-blog') { %>
  <h2 class="c-related-card-title">関連記事</h2>
<% } %>