<li class="c-work-card">
  <a href="#!" class="c-work-card__link">
    <div class="c-work-card__head">
      <img src="<%= src %>" alt="<%= alt %>">
      <span class="c-work-card__category"><%= category %></span>
    </div>
    <h2 class="c-work-card__title"><%= title %></h2>
  </a>
</li>